{{define "markdown"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>GitHub Markdown</title>
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="/static/github.css">
  <style>
    @media (prefers-color-scheme: dark) {
      body {
        background-color: #0d1117;
      }
    }
  </style>
    <!-- <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css">
  <style>
    .github-fork-ribbon:before {
      background-color: #121612;
    }
  </style> -->
</head>

<body>
{{template "header" . }}  
  <article class="markdown-body">
{{ . }}
  </article>

{{template "footer" . }}
</body>

</html>
{{end}}